<header class="header">
        <button id="home" class="btn"><a href="/">Home</a></button>
        <button id="sendMail" class="btn"><a href="/sendMail">SendMail</a></button>
        <button id="about" class="btn"><a href="/about">about</a></button>
        <button id="mongodb" class="btn"><a href="/mongodb">mongodb</a></button>
</header>