<header class="header">
        <button id="home" class="btn"><a href="/">Home</a></button>
        <button id="sendMail" class="btn"><a href="/sendMail">SendMail</a></button>
        <button id="test" class="btn">test</button>
        <button id="notFound" class="btn"><a href="/notFound">notFound</a></button>
        <button id="about" class="btn"><a href="/about">about</a></button>
</header>