<header class="header">
        <button class="btn"><a href="./">Home</a></button>
        <button class="btn"><a href="./sendMail">SendMail</a></button>
        <button class="btn"><a href="./about">about</a></button>
</header>