
        <section class="wrap">
            <h1>SendMail</h1>
                <div class="form">
                    <form class="formLogin" method="post" action="./sendMail/send">
                        <input class="formInput" type="text" name="name" placeholder="name">
                        <input class="formInput" type="email" name="mail" placeholder="mail">
                        <textarea class="formInput" name="message" id="" cols="30" rows="10" placeholder="Your message here..."></textarea>
                        <input class="formInput" type="submit" value="send">
                    </form>
                </div>
        </section>
