<section class="wrap">
    <div class="form">
        <h1>Test</h1>
        <form method="post"  action="/test">
            <input class="formInput" type="submit">
        </form>
    </div>


</section>
